.fluid-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px 0;
  text-align: center;
  padding: 15px;
  min-height: 100%;
  overflow-y: scroll;
}

.fluid-grid::-webkit-scrollbar {
  width: 10px;
}

.fluid-grid::-webkit-scrollbar-track {
  background: var(--clr-bg-dark);
  border-radius: 10px;
}

.fluid-grid::-webkit-scrollbar-thumb {
  background: var(--clr-bg-light);
  border-radius: 10px;
}