.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: var(--navbar-width);
  height: 100%;
}
.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}